.produto__imagem {
  width: 100%;
}

#produtos {
  margin: 5rem auto;
  padding: 0 2%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#carrinho {
  display: flex;
}

.produto {
  width: 33, 3%;
  padding: 0 20px;
}
