.servico__container {
  text-align: right;
  padding: 1.5rem;
  background-image: url(../../img/high-angle-woman-caring-rabbit.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 3px 2px #080808;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.servico__conteudo___titulo {
  font-size: 1.4rem;
  font-weight: bold;
}
.servico__conteudo___subtitulo {
  font-size: 1.1rem;
  padding: 0.5rem 0;
}
.servico__conteudo___descricao {
  font-size: 0.9rem;
}

@media screen and (min-width: 820px) {
  .servico__container {
    text-align: right;
    width: 100%;
    padding: 0 0 0.5rem 0;
    background-image: url(../../img/high-angle-woman-caring-rabbit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-shadow: 3px 2px #080808;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .servico__conteudo {
    padding: 30rem 1rem 1rem 0rem;
  }
  .servico__conteudo___titulo {
    font-size: 4rem;
    font-weight: bold;
  }
  .servico__conteudo___subtitulo {
    font-size: 2rem;
    padding: 0.5rem 0;
  }
  .servico__conteudo___descricao {
    font-size: 1.5rem;
  }
  .servico__conteudo___botao {
    margin-top: 2rem;
  }
}
