.video {
  max-width: 500px;
}
.videos__video {
  width: 500px;
  height: 300px;
}

@media screen and (max-width: 820px) {
  .videos__video {
    width: 300px;
    height: 150px;
    margin: 4% 10%;
  }
}
