@import url(_reset.css);
.cabecalho__container {
  background: rgb(252, 252, 98);
  display: fixed;
  padding: 0.1em;
  font-family: "Montserrat", sans-serif, "Pacifico", cursive;
}
@media screen and (max-width: 820px) {
  .cabecalho__container {
    flex-direction: column;
  }
}
