.login__titulo {
  font-size: var(--fonte-tamanho-cartao-titulo);
  margin-bottom: 1rem;
  text-align: center;
}

.login__container {
  background-color: var(--cor-contraste-claro);
  border-radius: 10px;
  box-shadow: var(--sombra);
  width: 100%;
  max-width: 20rem;
  padding: 1.75rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
}
