.rodape {
  text-align: center;
  background: var(--cor-primaria);
  color: var(--cor-contraste-claro);
  padding: 0.5em 0.5em;
  justify-content: center;
  position: fixed;
  margin-top: 20rem;
  width: 100%;
  bottom: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--cor-contraste-claro);
}

@media screen and (max-width: 400px) {
  .rodape {
    font-size: 0.8rem;
  }
}

.rodape__link {
  color: var(--cor-contraste-claro);
}

.rodape__link:hover {
  text-decoration: none;
  color: var(--cor-contraste-escuro);
}
