.rodape {
  text-align: center;
  background: rgb(98, 208, 252);
  color: var(----cor-contraste-mais-escuro);
  padding: 0.5em 0.5em;

  justify-content: center;
  position: fixed;
  margin-top: 20rem;
  width: 100%;
  bottom: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.rodape__link {
  color: var(--cor-contraste-mais-escuro);
}

.rodape__link:hover {
  text-decoration: none;
  color: var(--cor-contraste-escuro);
}

@media screen and (max-width: 800px) {
  .rodape {
    font-size: 0.8rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
  }
}
