.catalogo__produtos {
  max-width: 200px;
  margin: 3rem auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.catalogo__produto___imagem {
  width: 100%;
}
.produtos {
  display: flex;
  flex-wrap: nowrap;
}
@media screen and (max-width: 820px) {
  .produtos {
    display: inline-block;
    margin: 0 auto;
  }
}
