.cadastro__botao {
  background-color: #00abe9;
  color: white;
  padding: 0.7rem;
  font-size: 16px;
  border: none;
  width: 8rem;
  border-radius: 3px;
  text-align: center;
}

.cadastro {
  position: relative;
  display: inline-block;
  justify-content: space-between;
}

.cadastro__conteudo {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.cadastro__conteudo a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.cadastro__conteudo a:hover {
  background-color: #ddd;
}

.cadastro:hover .cadastro__conteudo {
  display: block;
}

.cadastro:hover .cadastro__botao {
  background-color: #0ebdfd;
}
.material-icons--login {
  text-align: center;
}
