.cabecalho__logo___imagem {
  width: 5%;
}
.cabecalho__logo {
  margin: 2rem;
  display: flex;
  text-align: center;
  box-sizing: border-box;
  align-items: center;
}

.cabecalho__titulo {
  padding-left: 0.7rem;
}

.cabecalho__busca___container {
  float: left;
  margin: 0.5rem 2.5rem;
}

input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.cabecalho__busca___container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #00abe9;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.cabecalho__busca___container button:hover {
  background: #0ebdfd;
}

.cabecalho__menu a {
  overflow: hidden;
  text-align: center;
  margin: 0 2rem;
  margin-top: 8px;
  padding: 6px;
  justify-content: space-between;
}
